@model IEnumerable<DapperProject.Models.MalzemeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EY",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MalzemeTutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HizmetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fayda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MalzemeTutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HizmetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fayda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "EY", new { id = item.MalzemeNo }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MalzemeNo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
